.theme-table,
.map-container {
  margin: 0 auto;
}

.theme-table {
  border: 1px solid black;
  table-layout: fixed;
  border-collapse: collapse;
}
.map-container {
  background-image: url("../resources/maps/ice.png");
  background-repeat: no-repeat;
  width: 510px;
  text-align: center;
  /* float: left; */
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

td {
  width: 27px;
  height: 27px;
  border: 1px solid black;
}

.character {
  vertical-align: middle;
}

.notmove {
  background-color: red;
  opacity: 0.4;
}
.attack {
  background-color: blue;
  opacity: 0.4;
}
.move {
  background-color: green;
  opacity: 0.4;
}
