@font-face {
  font-family: menufont;
  src: url(../resources/fonts/font.ttf);
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

#map {
  position: relative;
}

.theme-table,
.map-container {
  margin: 0 auto;
  cursor: url(../resources/hud/menus/mouse.png), auto;
}

.theme-table {
  /* border: 1px solid black; */
  table-layout: fixed;
  border-collapse: collapse;
}

.map-container {
  background-image: url("../resources/maps/aw.png");
  background-repeat: no-repeat;
  width: 480px;
  text-align: center;
  /* float: left; */
  min-height: 315px;
  max-height: 320px;
}

td {
  width: 20px;
  height: 20px;
  /* border: 1px solid black; */
  min-width: 20px;
  /* min-height: 20px; */
}

td:hover {
  background-color: white;
  opacity: 0.7;
  background-repeat: no-repeat;
  width: 19px;
  height: 20px;
}

.character {
  vertical-align: middle;
}

.notmove {
  opacity: 0.7;
  background-image: url("../resources/hud/menus/notmovable.png");
  /* background-color: red; */
}

.attack {
  background-color: blue;
  opacity: 0.7;
}

.move {
  /* background-color: green; */
  opacity: 0.7;
  background-image: url("../resources/hud/menus/movable.png");
}

#char-infomartion {
  position: absolute;
  background-image: url("../resources/hud/menus/team1-header.png");
  background-repeat: no-repeat;
  width: 101px;
  height: 70px;
  font-family: "menufont";
  font-size: 17px;
  padding-left: 10px;
  padding-top: 10px;
  left: 360px;
  top: 20px;
  display: none;
  text-align: left;
  z-index: 9999 !important;
}

.charinfo-team1 {
  background-image: url("../resources/hud/menus/team1-header.png") !important;
  background-repeat: no-repeat;
}

.charinfo-team2 {
  background-image: url("../resources/hud/menus/team2-header.png") !important;
  background-repeat: no-repeat;
}

.img-hud {
  margin-right: 1px;
  margin-bottom: 2px;
}

.img-hud-hp {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
}

.img-hud-ad {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
}

.img-hud-ar {
  position: absolute;
  margin-top: 2px;
  margin-left: 3px;
}

#char-menu {
  position: absolute;
  background-image: url(../resources/hud/menus/menu.png);
  background-repeat: no-repeat;
  /* width: 101px; */
  height: 77px;
  font-family: "menufont";
  font-size: 15px;
  /* padding-left: 4px; */
  padding-top: 3px;
  left: 810px;
  top: 110px;
  z-index: 9999 !important;
  display: none;
  cursor: url(../resources/hud/menus/mouse.png), auto;
}

.hud-buttons {
  text-align: left;
  font-size: 20px;
  background: none;
  border: none;
  font-family: "menufont";
  padding-left: 4px;
  cursor: url(../resources/hud/menus/mouse.png), auto;
}

.hud-buttons:hover {
  color: red;
}

.button-margin {
  margin-left: 55px;
  cursor: pointer;
}

#info-char {
  margin-left: 11px;
  position: absolute;
  top: 3px;
}

.disabled {
  background-color: black;
  opacity: 0.5;
}

.log-container {
  width: 480px;
  height: 120px;
  border: 1px solid black;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 480px;
  max-height: 120px;
  overflow: overlay;
}

.log {
  font-family: "menufont";
  font-size: 20px;
  text-transform: uppercase;
  margin: 10px;
}
